* {
    margin: 0px;
    padding: 0px;
  }

  body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    background: #265B6A;
  }

  header {
    background: url('../images/futureofrobotsheader.jpg');
    width: 960px;
    height: 150px;
  }
  
  header h1 {
    font-size: 300%;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: black;
    text-align: right;
    text-shadow: 5px 5px 7px #000000;
  }

  ul {
    background: #022A35;
    padding: 10px;
  }
  
  ul li {
    background: #6B949F;
    padding: 5px;
    border: solid 2px  black;
    display: inline-block;
  }
  
  ul li a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  
  ul li a:hover {
    color: #C0C0C0;
  }

  section {
    padding: 5px;
    margin: 5px;
    border: double 4px black;
  }
  
  section article {
    border: 3px solid black;
    border-radius: 0px 20px 20px 20px;
    margin: 5px 10px 5px 10px;
    padding: 10px;
    background: #6B949F;
  }

  article h2 {
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: left;
  }
  
  article p {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: left;
  }

  footer {
    background: #6B949F;
  }
  
  footer h3 {
    text-align: center;
    font-weight: normal;
    font-size: 90%;
  }

  .wrapper {
    margin: 0 auto 0 auto;
    width: 960px;
  }
  